# Fares Hub - Environment Variables Template
ADMIN_USERNAME=fares
ADMIN_PASSWORD_HASH=$argon2id$v=19$m=19456,t=2,p=1$d1pKEnkqq9qWeqqQrPxqYA$3cxBreDCq6JD2Ip67wXH5F5NLVTtZOwBLUibwQSmPY0
SESSION_SECRET=fares_hub_super_secret_session_key_random_32_characters_long!
DATABASE_URL=file:fares-hub.db
PORT=3000
